@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@font-face {
  font-family: "Regular";
  src: url("../src/assets/fonts/Nexa-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Bold";
  src: url("../src/assets/fonts/Nexa\ Bold.otf") format("opentype");
}

@font-face {
  font-family: "Heavy";
  src: url("../src/assets/fonts/Nexa-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: url("../src/assets/fonts/NexaLight.ttf") format("truetype");
}



@layer base {
  @font-face {
    font-family: "Nexa";
    src: url("/fonts/nexa/nexa-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Nexa";
    src: url("/fonts/nexa/nexa-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Nexa";
    src: url("/fonts/nexa/Nexa Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Nexa";
    src: url("/fonts/nexa/nexa-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Nexa";
    src: url("/fonts/nexa/NexaLight.otf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Nexa";
    src: url("/fonts/nexa/ExtraLight.otf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-gray: #242827;
  }
}

body {
  color: var(--foreground);
  font-family: "Nexa", Arial, Helvetica, sans-serif;
}

.text-primary-gray {
  color: var(--primary-gray);
}


@keyframes loading {
  0% {
    opacity: 0.5;
    /* rotate: 5deg; */
  }
  50% {
    scale: 1.2;
    opacity: 1;
  }
  100% {
    /* rotate: -5deg; */
    /* translate: 5px 0; */
    opacity: 0.5;
    /* transform: translateX(200px); */
  }
}
@keyframes loadingMini {
  0% {
    opacity: 0.5;
    rotate: 25deg;
  }
  50% {
    scale: 1.2;
    opacity: 1;
  }
  100% {
    rotate: -25deg;
    translate: 35px 0;
    opacity: 0.5;
    /* transform: translateX(200px); */
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
:root {
  width: 100vw;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

body *::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;
  outline: none;
}

.input:focus {
  width: 100%;
  outline: none;
}

/* .input:not(:focus) + .search-results-container {
  display: none;
} */
.search-results-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.search-results-container .search-result {
  padding: 10px;
  font-size: 14px;
}

.search-results-container .search-result:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.search-results-container .search-result:first-child {
  border-top: none;
}

.search-results-container .search-result:last-child {
  border-bottom: none;
}

input:focus + .search-results-container,
input:not(:placeholder-shown) + .search-results-container {
  display: block;
}

.highlight {
  font-weight: bold;
}
/*






:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

.tooltip::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 30px); /* Adjust this value to position the arrow */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.cardFooter::-webkit-scrollbar {
  display: none;
}
.cardFooter {
  -ms-overflow-style: none; /* IE and Edge */
  overflow: -moz-scrollbars-none; /* Firefox */
}

h1 {
  font-size: 2em;
  margin-bottom: 16px;
  margin-top: 16px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 14px;
  margin-top: 14px;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 12px;
  margin-top: 12px;
}

h4 {
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
}

h5 {
  font-size: 0.8em;
  margin-bottom: 8px;
  margin-top: 8px;
}

h6 {
  font-size: 0.6em;
  margin-bottom: 6px;
  margin-top: 6px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
}

.social-icon-hover:hover svg {
  animation: bounce 0.6s ease infinite;
}
